@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  /* Comic book style speech bubble */
  .speech-bubble {
    @apply relative bg-white p-4 rounded-lg;
  }
  
  .speech-bubble::after {
    content: '';
    @apply absolute w-4 h-4 bg-white transform rotate-45;
    bottom: -8px;
    left: 24px;
  }
}